{% extends 'base.html.twig' %}

{% block title %}Waou - Mentions Légales
{% endblock %}
{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('journalier') }}
{% endblock %}
{% block body %}
	<section class="section-legal">
		<h1 class="head-title">Mentions Légales :</h1>
		<div class="container-txt">
			<p>Waou est une marque déposée et exploitée par la société WAOU care SAS.</p>
			<p>
				<strong>Copyright WAOU care SAS, tous droits d’auteur des textes et œuvres réservés.</strong>
			</p>
			<p>Conformément aux dispositions des articles 6 III et 19 de la Loi n°2004-575 du 21 juin 2004 pour la Confiance dans l’économie numérique (LCEN), il est porté à la connaissance des utilisateurs et des visiteurs du site WAOU accessible à l’adresse suivante https://www.waou.fr les présentes mentions légales.</p>
			<p>L’accès et l’utilisation du site sont soumis aux Mentions légales détaillées ci-après ainsi qu’aux lois et/ou règlements applicables.</p>
			<p>La connexion, l’utilisation et l’accès à ce site impliquent l’acceptation intégrale et sans réserve de l’internaute de toutes les stipulations des présentes Mentions légales. Ces dernières sont susceptibles d’être modifiées ou complétées à tout moment, les utilisateurs du Site sont donc invités à les consulter de manière régulière.</p>
			<h3>Article 1 – Informations légales</h3>
			<p>En vertu de l’article 6 de la Loi LCEN visée ci-dessus, il est précisé ci-dessous l’identité des différents intervenant dans le cadre de sa réalisation et de son suivi.</p>
			<p>
				<strong>Editeur du Site :</strong>
				Waou, Société par Actions Simplifiée au capital de 2 500€
			</p>
			<p>
				<strong>Siège social :</strong>
				9, chemin du cret – 42800 Saint Joseph
				<strong>N° Siren :</strong>
				818 146 573 R.C.S LYON
				<strong>TVA Intracommunautaire :</strong>
				TVA FR37818146573
				<strong>Code NAF :</strong>
				6420Z
				<strong>Contact :</strong>
				waou@waou.fr</p>
			<p>
				<strong>Directeur de la publication :</strong>
				Monsieur TRAEN Philippe
				<strong>Téléphone :</strong>
				+33 (0)6 10 86 61 27
				<strong>Adresse e-mail :</strong>
				waou@waou.fr</p>
			<p>Sont considérés comme des utilisateurs tous les internautes qui naviguent, lisent, visionnent et utilisent le Site, ci-après les « Utilisateurs ».</p>
			<h3>Article 2 – Accès au Site et gestion</h3>
			<p>Le Site est accessible à tout moment sauf en cas de force majeure, interruption programmée ou non et pouvant découler d’une nécessité de maintenance.</p>
			<p>En cas de modification, interruption ou suspension des services, le Site ne saurait être tenu responsable.</p>
			<p>L’accès au Site et son utilisation sont réservés à un usage strictement personnel. Les utilisateurs s’engagent à ne pas utiliser le site et les informations ou données qui y figurent à des fins commerciales, politiques, publicitaire ou pour toute forme de sollicitation commerciale.</p>
			<p>Pour la bonne gestion du Site, l’Editeur pourra à tout moment :</p>
			<ul>
				<li>Suspendre, interrompre ou limiter l’accès à tout ou partie du Site, réserver l’accès au Site ou à certaines parties du Site à une catégorie d’internautes déterminée</li>
				<li>Supprimer toute information pouvant en perturber le fonctionnement ou entrant en contravention avec les lois nationales et internationales</li>
				<li>Suspendre le Site afin de procéder à des mises à jour</li>
			</ul>
			<h3>Article 3 – Droits de propriété intellectuelle</h3>
			<p>Toutes les marques, logos, photographies, textes, commentaires, illustrations, images animées ou non, séquences vidéo, sons ainsi que toutes les applications informatiques qui pourraient être utilisées pour faire fonctionner ce Site et plus généralement tous les éléments reproduits ou utilisés sur le Site sont protégés par les lois en vigueur au titre de la propriété intellectuelle.</p>
			<p>Ils sont la propriété quasimenent pleine de l’Editeur ou de ses partenaires. Toute reproduction, représentation, utilisation ou adaptation, sous quelque forme que ce soit, de tout ou partie de ces éléments, y compris les applications informatiques, sans l’accord préalable et écrit de l’Editeur, sont strictement interdites. Le fait pour l’Editeur de ne pas engager de procédure dès la prise de connaissance de ces utilisations non autorisées ne vaut pas acceptation desdites utilisations et renonciation aux poursuites.</p>
			<h3>Article 4 Liens hypertextes et cookies</h3>
			<h3>4.1 Etablissements de liens vers le Site</h3>
			<p>L’Editeur peut autoriser la mise en place d’un lien hypertexte vers son Site pour tous les sites Internet de son choix, à l’exclusion notamment de ceux diffusant des informations à caractère polémique, pornographique, xénophobe ou pouvant, dans une plus large mesure, porter atteinte à la sensibilité du plus grand nombre.</p>
			<p>Le lien doit aboutir à la page d’accueil du Site (home page) et le doit apparaître dans une nouvelle fenêtre. Les pages du Site ne doivent en aucun cas être intégrées à l’intérieur des pages d’un autre site (Frame). Sauf autorisation spécifique qui pourrait être accordée par l’Editeur, au cas par cas, un lien direct vers une page interne au Site est interdit.</p>
			<p>La demande d’établissement de lien hypertexte à partir du Site doit être faite par courrier LR avec AR à l’adresse postale de l’Editeur mentionnée en tête des présentes.</p>
			<p>L’Editeur se réserve le droit de refuser le lien, sans avoir à le justifier, et/ou à demander la suppression immédiate d’un lien.</p>
			<h3>4.2 Liens vers des sites tiers depuis le Site</h3>
			<p>Les liens hypertextes contenus sur le Site en direction d’autres sites et/ou de pages personnelles et d’une manière générale vers toutes ressources existantes sur internet ne sauraient engager la responsabilité de l’Editeur quant à leur contenu, aux liens qu’ils contiennent ou aux changements ou mises à jour qui leur sont apportés.</p>
			<h3>4.3 Cookies</h3>
			<p>La navigation sur le Site est susceptible de provoquer l’installation de cookie(s) sur l’ordinateur de l’Utilisateur. Un cookie est un fichier de petite taille, qui ne permet pas l’identification de l’Utilisateur, mais qui enregistre des informations relatives à la navigation d’un ordinateur sur un site. Les données ainsi obtenues visent à faciliter la navigation ultérieure sur le Site, et ont également vocation à permettre diverses mesures de fréquentation. Le refus d’installation d’un cookie peut entraîner l’impossibilité d’accéder à certains services.</p>
			<h3>Article 5 – Responsabilités</h3>
			<p>L’Editeur met tout en œuvre pour offrir aux Utilisateurs de ce Site des informations fiables et vérifiées. Cependant, malgré tous les soins apportés, le Site peut comporter des inexactitudes, des défauts de mise à jour ou des erreurs. L’Editeur ne pourra être tenu responsable des omissions, des inexactitudes et des carences dans la mise à jour de ces informations, qu’elles soient de son fait ou du fait des tiers partenaires qui lui fournissent ces informations.</p>
			<p>La responsabilité de l’Editeur ne peut être engagée en cas de défaillance, panne, difficulté ou interruption de fonctionnement empêchant l’accès au Site ou à une de ses fonctionnalités. Le matériel de connexion au Site utilisé par les Utilisateurs est sous leur entière responsabilité. En tout état de cause, ce matériel doit être récent, à jour et ne doit pas contenir de virus.</p>
			<p>Les Utilisateurs doivent prendre toutes les mesures appropriées pour protéger leur matériel et leurs propres données. Les Utilisateurs sont, par ailleurs, seuls responsables des sites et données qu’ils consultent et des téléchargements qu’ils opèrent.</p>
			<p>L’Editeur ne pourra être tenu responsable, en cas de poursuites judiciaires, du fait du non- respect, par les Utilisateurs, des présentes mentions légales.</p>
			<p>L’Editeur n’est pas responsable des dommages directs et/ou indirects causés aux utilisateurs, à des tiers et/ou aux équipements des Utilisateurs du fait de leur connexion ou de leur utilisation du Site. De ce fait, les Utilisateurs renoncent à toute action contre l’Editeur du Site.</p>
			<p>L’Editeur se réserve le droit de mettre en cause la responsabilité civile et/ou pénale de l’Utilisateur, notamment en cas de message à caractère raciste, injurieux, diffamant, ou pornographique, quel que soit le support utilisé (texte, photographie…).</p>
			<p>Si l’Editeur venait à faire l’objet d’une procédure amiable ou judiciaire en raison de l’utilisation du Site par les Utilisateurs, il pourra se retourner contre eux pour obtenir l’indemnisation de tous les préjudices, sommes, condamnations et frais qui pourraient découler de cette procédure.</p>
			<h3>Article 6 – Protection des données personnelles</h3>
			<h3>6.1 Données collectées et traitées</h3>
			<p>La collecte et le traitement des données des Utilisateurs du Site par l’Editeur sont réalisés conformément à l’article 5 du Règlement européen 2016/679 du 27 avril 2016 relatif à la protection des personnes physiques à l’égard du traitement des données à caractère personnel.</p>
			<p>En outre, afin d’être licite, et ce conformément aux exigences de l’article 6 du règlement européen précité, la collecte et le traitement des données à caractère personnel ne pourront intervenir que s’ils respectent au moins l’une des conditions ci-après énumérées :</p>
			<ul>
				<li>L’Utilisateur a expressément consenti au traitement</li>
				<li>Le traitement est nécessaire à la bonne exécution d’un contrat</li>
				<li>Le traitement répond à une obligation légale</li>
				<li>Le traitement s’explique par une nécessité liée à la sauvegarde des intérêts vitaux de la personne concernée ou d’une autre personne physique</li>
				<li>Le traitement peut s’expliquer par une nécessité liée à l’exécution d’une mission d’intérêt public ou qui relève de l’exercice de l’autorité publique ou autre</li>
				<li>Le traitement et la collecte des données à caractère personnel sont nécessaires aux fins des intérêts légitimes et privés poursuivis par le responsable du traitement ou par un tiers.</li>
			</ul>
			<p>Les données à caractère personnel collectées sur le Site sont les suivantes : nom, prenom, mail, téléphone, et autres éléments porter sur la vie personnel et quotidienne de l'utilisateur.</p>
			<p>Ces données sont collectées lorsque l’Utilisateur effectue l’une des opérations suivantes sur le Site : une demande d’information sur la page « contact » du Site.</p>
			<p>Le responsable du traitement conservera dans ses systèmes informatiques du Site et dans des conditions raisonnables de sécurité l’ensemble des données collectées pour une durée minimale de 3 ans (36 mois).</p>
			<h3>6.2 Droits des Utilisateurs
			</h3>
			<p>En application de la réglementation applicable aux données à caractère personnel, les Utilisateurs disposent des droits suivants :</p>
			<ul>
				<li>Le droit d’accès : les Utilisateurs peuvent exercer leur droit d’accès pour connaître les données personnelles les concernant.</li>
				<li>Le droit de rectification : si les données personnelles détenues sont inexactes, les Utilisateurs peuvent demander la mise à jour des informations.</li>
				<li>Le droit de suppression des données : les Utilisateurs peuvent demander la suppression de leurs données à caractère personnel, conformément aux lois applicables en matière de protection des données.</li>
				<li>Le droit à la limitation du traitement : les Utilisateurs peuvent s’opposer à ce que leurs données soient traitées conformément aux dispositions du RGPD.</li>
				<li>Le droit de s’opposer au traitement des données : les utilisateurs peuvent s’opposer à ce que leurs données soient traitées conformément aux hypothèses prévues par le RGPD.</li>
				<li>Le droit à la portabilité : les Utilisateurs peuvent réclamer que l’éditeur leur remette les données personnelles qu’ils ont fournies pour les transmettre à un autre Editeur.</li>
			</ul>
			<p>Les Utilisateurs peuvent exercer ces droits en contactant l’Editeur du Site à l’adresse mail ou postale (courrier LR avec AR) mentionnées en tête des présentes mentions légales. Toute demande doit être accompagnée de la photocopie d’un titre d’identité en cours de validité signé et faire mention de l’adresse à laquelle l’Editeur pourra contacter le demandeur.</p>
			<!--<p>Il est porté à la connaissance de la Famille que dans le cadre de la protection du consommateur, celle-ci a la possibilité de s’inscrire sur la liste d’opposition au démarchage téléphonique, conformément à l’article L 223-2 du Code de la consommation, sur le site bloctel.gouv.fr. ou par courrier à Société Worldline – Service Bloctel, CS 61311, 41013 Blois Cedex.</p>-->
			<p>
				<strong>Article 7 – Contact</strong>
				Pour toute question, information concernant les prestations de l’Editeur, ou concernant le Site- lui-même, les Utilisateurs peuvent laisser un message à l’adresse mail renseignée ci-dessus ou par courrier recommandé avec AR à l’adresse postale également renseignée ci-dessus.</p>
			<h3>Article 8 – Droit applicable – Litiges</h3>
			<p>Les présentes mentions légales sont soumises au droit français.</p>
		</div>
	</section>
{% endblock %}
