@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;1,800&display=swap');


section {
    .container {
        margin: 10% 20%;
    }
}

body p {
  font-family: 'Montserrat', sans-serif;
}

.container-intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 7%;

    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 50%;
        height: auto;
    }


    .texte-intro {
        height: auto;
        width: 85%;
    }

    .titre-principal {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        h1 {
            font-size: 7rem;
            font-weight: 900;
            color: #30A2FF;
        }
        .other-color {
            color: #FFE7A0;
        }
    }
}

@keyframes button_gratuit {
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

.essai_gratuit {
  background-color: rgb(41, 128, 241);
  animation: button_gratuit infinite;
}

////////// GRILLE ///////////

body, html {
    height: 100%;
    margin: 0;
  }
  
  .grid-container-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 70% 70%;
    height: auto;
    margin: 10px;
  }
  
  .grid-item {
    margin: 10px;
    padding: 10px;
  }
  
  .image {
    grid-column: 1;
    grid-row: 1 / span 2;
  }
  
  .text {
    grid-column: 2;
    grid-row: 1 / span 2;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 20%;

    h1 {
      color: #30A2FF;
      font-weight: 800;
      font-size: 2.5rem;
    }
    p {
      color: #252A34;
      font-size: larger;
      margin-top: 5%;
      text-align: center;
    }
  }

  
  @media screen and (max-width: 768px) {
    .grid-container {
      grid-template-columns: 100%;
      grid-template-rows: 50% 50%;
    }
  
    .image {
      grid-column: 1;
      grid-row: 1;
    }
  
    .text {
      grid-column: 1;
      grid-row: 2;
    }
  }

  .grid-container.reverse .image {
    grid-column: 2;
  }

  .grid-container.reverse .text {
      grid-column: 1;
  }

  /* Appliquer le changement de position pour les écrans plus petits */
  @media screen and (max-width: 768px) {
      .grid-container.reverse .image {
          grid-row: 2;
      }

      .grid-container.reverse .text {
          grid-row: 1;
      }
  }
  .button-home {
    display: inline-block;
    padding: 1% 4%;
    font-size: 1.5rem;
    background-color: #30A2FF;
    color: #FFFFFF;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
    text-align: center;
  }
  /////////////// Partie des prix des différents abonnements /////////////////
  .container-cout {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .price-cout {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .diff-cout {
    padding: 2%;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
      font-size: 1.5rem;
      font-weight: bold;
      width: auto;
      text-align: center;

    }

    h2 {
      margin-bottom: 20%;
      padding: 4%;
      background: #08D9D6;
      color: #252A34;
      font-size: 3rem;
      width: auto;
      text-align: center;
      border-radius: 10px;
    }
  }
  .title-cout {
    margin-bottom: 4%;
    font-size: 3rem;
    padding: 2%;
    width: auto;
    background: #FF2E63;
    color: white;
    border-radius: 35px 35px 35px 35px;
    -moz-border-radius: 35px 35px 35px 35px;
    -webkit-border-radius: 35px 35px 35px 35px;
    border: 3px ridge #000000;
  }